@font-face {
    font-family: Roboto;
    src: url(RobotoMono-VariableFont_wght.ttf);
}

* {
	font-family: Roboto;
    table-align: center;
	text-align: center;

    text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, 
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, 
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, 
    #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
}

body {
    color: white;
    background-color: #0052af;
	overflow: hidden;
	font-size: 20px;
	margin: 0px;
	user-select: none;
}

table, tr {
    display: flex;
    justify-content: center;
}

h1 {
    display: inline;
    font-size: 40px;
}

h2 {
	display: inline;
    font-size: 30px;
}

h3 {
	display: inline;
    font-size: 25px;
}

button {
    margin: 2px;
    font-size: 20px;
    border: solid 3px black;
    background-color: lightgray;
    color: white;
    cursor: pointer;
    padding: 4px 10px;
}

button.locked {
    cursor: default;
    background-color: gray;
}

button:not(.locked):hover {
    background-color: #eee;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.table_space {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.table_between {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.table_left {
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
}

.soft {
	color: hsl(237, 15%, 47%);
	font-weight: bold;
	text-shadow: 0px 1px 0px hsl(252, 19%, 57%);
	pointer-events: none;
}

#main_app {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 170px);
    height: calc(100% - 220px);
    transform: translateX(-50%) translateY(calc(-50% + 25px));

    background-color: #fff2;
    padding: 10px;
}

#main_app > div {
    width: 100%;
    height: 100%;
}

#grass_div {
    position: relative;
    width: 550px;
    border: solid 2px black;
    background-color: #29b146;
    height: 45px;
    padding: 0 10px;
    font-size: 32px;
}

#grass_div > div {
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 20px);
    align-items: center;
}

#grass_div > div > img {
    width: 60px;
    height: 60px;
    border: solid 2px black;
    border-radius: 50%;
    background-color: #73ff91;
}

.smallAmt,
#grassGain {
    color: lightgray;
    font-size: 16px;
    height: 16px;
}

#grass_canvas {
    width: calc(100% - 4px);
    height: calc(100% - 64px);
    border: solid 2px black;
    background-color: #186834;
}

#level {
    position: relative;
    width: 400px;
    border: solid 2px black;
    background-color: #2968b1;
    height: 35px;
    font-size: 25px;
    padding: 0 10px;
}

#tier {
    position: relative;
    width: 400px;
    border: solid 2px black;
    background-color: #afb129;
    height: 35px;
    font-size: 25px;
    padding: 0 10px;
}

#astral {
    position: relative;
    width: 400px;
    border: solid 2px black;
    background-color: #8a29b1;
    height: 35px;
    font-size: 25px;
    padding: 0 10px;
}

#level_div {
    position: relative;
    width: calc(100% - 34px);
    border: solid 2px black;
    background-color: #143357;
    font-size: 25px;
    height: 85px;
    margin: 5px 15px;
}

#tier_div {
    position: relative;
    width: calc(100% - 34px);
    border: solid 2px black;
    background-color: #575614;
    font-size: 25px;
    height: 108px;
    margin: 5px 15px;
}

#astral_div {
    position: relative;
    width: calc(100% - 34px);
    border: solid 2px black;
    background-color: #3c1457;
    font-size: 25px;
    height: 85px;
    margin: 5px 15px;
}

#tier_div > div,
#level_div > div,
#astral_div > div {
    position: absolute;
}

#level_bar {
    height: 100%;
    background-color: #2968b1;
    transition: width 0.2s;
}

#tier_bar {
    height: 100%;
    background-color: #b1a829;
    transition: width 0.2s;
}

#astral_bar {
    height: 100%;
    background-color: #6f29b1;
    transition: width 0.2s;
}

#tier_info,
#level_info,
#astral_info {
    width: 100%;
}

#grass_cap_div {
    position: relative;
    width: calc(100% - 24px);
    margin-top: 5px;
    border: solid 2px black;
    background-color: #29b146;
    height: 45px;
    padding: 0 10px;
}

#grass_cap_div > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 20px);
    align-items: center;
    font-size: 28px;
}

.cyan {
    color: skyblue;
}

#charger_div,
.upgs_div {
    position: relative;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    border: solid 2px black;
    background-color: #c5c5c5;
    margin: 10px;
}

#charger_div {
    background-color: #ffd900;
}

.buyAllUpg {
    padding: 2px 10px;
}

.upg_desc.grass,
.upgs_div.grass {
    background-color: #186834;
}

.upg_desc.perk,
.upgs_div.perk {
    background-color: #1fa4c5;
}

.upg_desc.auto,
.upgs_div.auto,
.upg_desc.assembler,
.upgs_div.assembler {
    background-color: #811919;
}

.reset_div.pp,
.reset_req.pp,
.upg_desc.pp,
.upgs_div.pp,
.chal_div.pp {
    background-color: #159edd;
}

.reset_div.crystal,
.reset_req.crystal,
.upg_desc.crystal,
.upgs_div.crystal,
.chal_div.crystal {
    background-color: #97245a;
}

.reset_div.decel,
.reset_req.decel,
.upg_desc.aGrass,
.upgs_div.aGrass,
.reset_div.ap,
.reset_req.ap,
.upg_desc.ap,
.upgs_div.ap {
    background-color: #242697;
}

.reset_div.oil,
.reset_req.oil,
.upg_desc.oil,
.upgs_div.oil {
    background-color: #2b2b2b;
}

.upg_desc.rocket,
.upgs_div.rocket {
    background-color: #2D5B62;
}

.reset_div.rocket_part,
.reset_req.rocket_part {
    background-color: #4F4836;
}

.upg_desc.momentum,
.upgs_div.momentum {
    background-color: #AA7C00;
}

.reset_div.gal,
.reset_req.gal {
    background-color: #505;
}

.upg_desc.moonstone,
.upgs_div.moonstone {
    background-color: #003380;
}

.reset_div.sac,
.reset_req.sac,
.upg_desc.dm,
.upgs_div.dm {
    border-color: #ffa4d9;
    background-color: #305;
}

.reset_div.recel,
.reset_req.recel,
.upg_desc.unGrass,
.upgs_div.unGrass {
    background-color: #549e00;
}

.reset_div.np,
.reset_req.np,
.upg_desc.np,
.upgs_div.np {
    background-color: #8fcc00;
}

.upgs_ctn {
    height: calc(100% - 84px);
    width: calc(100% - 24px);

    border: solid 2px black;
    background-color: #272727;
    margin: 0 10px;

    overflow-x: auto;
    overflow-y: hidden;

    display: flex;

    flex-wrap: nowrap;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #0000;
}

*::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 10px;
}

.upg_ctn {
    flex-shrink: 0;
    position: relative;
    margin: 2px;
    cursor: pointer;
}

.upg_ctn:hover > img {
    transform: translateX(-50%) scale(1.06);
}

.upg_ctn > img {
    position: absolute;
    top: 10%;
    width: 80%;
    height: 80%;
    left: 50%;

    transform: translateX(-50%);
    transition: transform 0.2s;

    pointer-events: none;
}

.upg_cost {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 100%;
    font-size: 1.1vw;
    transform: translateX(-50%);
    color: lime;
    pointer-events: none;
}

.upg_amt {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    font-size: 1.3vw;
    transform: translateX(-50%);
    color: yellow;
    pointer-events: none;
}

.red,
.upg_cost.locked,
.scu_cost.locked {
    color: red;
}

.upg_desc {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c5c5c5;
    top: 0;
    font-size: 18px;
}

.yellow {
    color: gold;
}

.green {
    color: lime;
}

.lightgray {
    color: lightgray;
}

.lightblue {
    color: lightblue;
}

.black {
    color: #222;
}

.magenta {
    color: magenta;
}

.reset_div {
    position: relative;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    border: solid 2px black;
    background-color: #c5c5c5;
    margin: 10px;
}

.reset_div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.reset_req {
    background-color: #c5c5c5;
}

.reset_req > div {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

#map_div_opt {
    font-size: 16px;
}

.chal_div {
    position: relative;
    width: 450px;
    height: 240px;
    padding: 5px;
    margin: 5px;
    border: solid 2px black;
    background-color: #c5c5c5;
    font-size: 16px;
    cursor: pointer;
}

@keyframes implode {
    0% {transform:scale(1); filter:blur(0px)}
    50% {transform:scale(0); filter:blur(5px)}
    100% {transform:scale(1); filter:blur(0px)}
}

.milestone_div {
    position: relative;
    width: calc(100% - 44px);
    height: calc(100% - 44px);
    border: solid 2px black;
    background-color: #c5c5c5;
    margin: 10px;
    padding: 10px;
}

#milestone_div_agh,
#milestone_div_agh .milestone_ctns > div {
    background-color: #505;
}

#milestone_div_gs,
#milestone_div_gs .milestone_ctns > div,
.reset_div.gs,
.reset_req.gs,
.reset_div.fun,
.reset_req.fun,
.upg_desc.funnyMachine,
.upgs_div.funnyMachine,
.upg_desc.fundry,
.upgs_div.fundry,
.upg_desc.sfrgt,
.upgs_div.sfrgt {
    background-color: #ffff79;
}

.milestone_ctns {
    width: calc(100% - 4px);
    height: calc(100% - 37px);
    border: solid 2px black;
    background-color: #272727;
    overflow-y: auto;
    margin-top: 5px;
}

.milestone_ctns > div {
    width: calc(100% - 14px);
    padding: 5px;
    border: solid 2px black;
    background-color: #c5c5c5;
    font-size: 16px;
}

.milestone_ctns > div.bought {
    background-color: limegreen !important;
}

#gh_mil_ctns, #gs_mil_ctns {
    height: 100%;
}

#charge_mil {
    width: calc(100% - 24px);
    height: calc(100% - 84px);
    border: solid 2px black;
    background-color: #272727;
    overflow-y: auto;
    margin: 0 10px;
    font-size: 16px;
}

#charge_mil > div {
    width: 100%;
    color: grey;
}

#charge_mil > div.green {
    color: lime;
}

#fog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #001c3b;
    opacity: 0.25;
    z-index: 1;
}

#star_chart_div {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

#star_chart_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sc_upg_div {
    position: relative;
    margin: 3px;
    width: 140px;
    height: 140px;
}

.sc_upg_ctn {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.sc_upg_div > div:not(.choosed):hover > img {
    transform: translateX(-50%) scale(1.06);
}

.sc_upg_div > div.choosed > img {
    transform: translateX(-50%) scale(1.2);
}

.sc_upg_div > div > img {
    position: absolute;
    top: 13%;
    width: 80%;
    height: 80%;
    left: 50%;

    transform: translateX(-50%);
    transition: transform 0.2s;

    pointer-events: none;
}

.scu_cost {
    font-weight: bold;
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 100%;
    font-size: 14px;
    transform: translateX(-50%);
    color: lime;
    pointer-events: none;
}

.scu_amt {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    font-size: 20px;
    transform: translateX(-50%);
    color: yellow;
    pointer-events: none;
}

#sc_desc_div {
    width: 100%;
    background-color: #fff1;
    padding: 5px 0;
    margin-bottom: 3px;
    font-size: 16px;
}

#stats_div {
    border: solid 4px black;
    padding: 10px;
    width: calc(100% - 28px);
    height: calc(100% - 28px);
    background-color: #222;

    overflow-y: auto;
}

#stats_tab_div {
    width: calc(100% - 10px);
    padding: 5px;
    background-color: #333;
    height: 150px;
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    justify-content: start;

    border-radius: 10px;
}

.stats_tab_btn {
    min-width: 200px;
    height: calc(100%-15px);

    border-radius: 10px;
    border: solid 3px black;
    background-color: #222;
    flex-shrink: 0;

    margin: 5px;
    padding: 5px;

    cursor: pointer;
}

.stats_tab_btn:hover {
    background-color: #333;
}

.stats_tab_btn > img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #fff1;
    margin-bottom: 3px;

    pointer-events: none;
}

.stats_tab_btn > div {
    font-size: 20px;
}

#stats_desc_div {
    min-height: 400px;
}

#stats_desc {
    font-size: 16px;
}
